learnawk/.DS_Store
learnawk/inventory.txt
learnbash/.!91821!toto.txt
learnbash/.DS_Store
learnbash/tmp.txt
learnbash/tmp_bk.txt
learnbash/toto.txt_bk
inprogress/.DS_Store
inprogress/.gitignore
inprogress/h.gnu
inprogress/langage/.DS_Store
inprogress/langage/accord.o
inprogress/langage/adjectif.o
inprogress/langage/categorie.o
inprogress/langage/ressources/.DS_Store
