documentation/ancienprojet/.DS_Store
documentation/ancienprojet/data/.DS_Store
documentation/lexique/.DS_Store
documentation/lexique/Lexique381/.DS_Store
learnbash/formatedtoto.txt
learnbash/toto.txt
learnsed/tmp2.txt
