html {
    background-color: #fff;
    color: rgb(51, 51, 51);
    font-family: "Lato", "Arial", "sans-serif";
    font-weight: 300;
    font-size: 20px;
}



@media (min-width: 1200px) {
    body {
        margin: 0 30%;
    }
  } 

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modele-img {
    display: inline-flex;
    justify-content: center;
    width: 80%;
}

img{
    width: 100%;
}

.comment{
    color: green
}

.note{
    color: orange;
}

.to-debate{

}

.question{
    color: red;
}