canvas {
  display: block;
}

html, body {
  margin: 0;
  padding: 30;
  font-size: 18px;
  margin: 1em;
  line-height: 1.5em;
}

canvas {
  display: block;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 1em;
}

.togo {
  background-color: #5733FF;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

#groupNbPoitnsSelected {
  background-color: black;
}

#groupNbPoitnsEvaluated {
  background-color: black;
}
