canvas {
  display: block;
}

/* code displaying */
pre, code {
  font-family: monospace, monospace;
  background-color: #1b2426;
  color: white;
  display: inline-block;
  padding-right: 25px;
}

.variable {
  color: #34eb46;
}

.if-else {
  color: yellow;
}

.statement {
  color: #fc00e2;
}

.function {
  color: #66a6ff;
}

html {
  margin: 0;
  padding: 30;
  font-size: 18px;
  margin: 1em;
  line-height: 1.5em;
}

body {
  padding: 300px;
}

canvas {
  display: block;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 1em;
}

.togo {
  background-color: #5733FF;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

#groupNbPoitnsSelected {
  background-color: black;
}

#groupNbPoitnsEvaluated {
  background-color: black;
}
