canvas {
  display: block;
}

html, body {
  margin: 0;
  padding: 0;
  font-size:18px;
  margin: 1em;
}
canvas {
  display: block;
}

h1 {
  font-size:44px;
  font-style:normal;
  text-align:left;
}

h1 em{
  color: rgb(179,21,26)
}

p em{
  color: black;
}

dt {
    font-weight: bold;
}


dd {
    margin-bottom: 1em;
}


#groupNbPoitnsSelected{
 background-color: black;
}
#groupNbPoitnsEvaluated{
 background-color: black;
}
